.mainContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.mainContainer .sidebar {
  width: calc(100vw - 80rem);
  border: 0.1rem solid #c0bcbc;
  padding: 1rem;
  background-color: #eff3f3;
  height: calc(100vh - 6rem);
}

.mainContainer .sidebar h3 {
  padding: 0.3rem;
}

.mainContainer .sidebar ul {
  list-style: none;
}

.mainContainer .sidebar li {
  padding: 0.5rem;
}

.mainContainer .cardContainer {
  padding-left: 1rem;
  overflow: scroll;
  height: calc(100vh - 6rem);
  width: calc(100vw - 20rem);
}

.mainContainer .cardContainer .mainDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
  gap: 1rem;
  background-color: #eff3f3;
}

.mainContainer .cardContainer .mainDiv .singleItem {
  padding: 1rem;
  border: 0.1rem solid #eaeff1;
  background-color: #ffffff;
}

.mainContainer .cardContainer .mainDiv .singleItem .imgDiv img {
  width: 20rem;
  height: 15rem;
}

.mainContainer .cardContainer .mainDiv .singleItem .commonDetailsDiv {
  display: flex;
  justify-content: space-between;
}

.mainContainer .cardContainer .mainDiv .singleItem .commonDetailsDiv .detailsDiv1, .mainContainer .cardContainer .mainDiv .singleItem .commonDetailsDiv .detailsDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mainContainer .cardContainer .mainDiv .submitButton button {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: #f5b3aa;
  color: white;
}

.mainContainer .cardContainer .mainDiv .submitButton button.addToCart {
  background-color: #ee8a8a;
}

.mainContainer .cardContainer .mainDiv .submitButton button.inCart {
  background-color: #808080;
  cursor: not-allowed;
}
